<div class="animated fadeIn">
  <div class="card">
    <div class="head-1">
    <div class="card-body">
      <div class="crad-header">
        <h2 >เลือกการใช้งาน</h2>
      </div>
    </div>
    </div>

      <div class="body-1">
          <div class="card" style="border:none;">
            <div class="images-1" >
              <img class="shop" src="https://img-premium.flaticon.com/png/512/1376/premium/1376387.png?token=exp=1631099952~hmac=a474422d46d887e70f25d1c995b1cb9a" alt="business" >
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-link btn-lg btn-block" (click)="Gobusiness()"><h3>ร้านค้า</h3></button>
            </div>
          </div>
          <div class="card" style="border:none;">
              <div class="images-2" >
                <img class="user" src="https://img-premium.flaticon.com/png/512/2995/premium/2995459.png?token=exp=1631100971~hmac=0204cc58b95ad63370e729e7bedcac0a" alt="using">
              </div>
            <div class="card-body">
              <button type="button" class="btn btn-link btn-lg btn-block" ><h3>นักเรียน</h3></button>
            </div>
          </div>
      </div>
  </div>





</div>
